# From
# https://github.com/shortcuts/neovim-plugin-boilerplate/blob/main/.github/workflows/main.yml

name: tests

on:
  push:
  pull_request:
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: lint
    steps:
      - uses: actions/checkout@v4

      - uses: JohnnyMorganz/stylua-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: latest
          args: --check . -g '*.lua' -g '!deps/'

  test:
    timeout-minutes: 2
    strategy:
      matrix:
        os: [ubuntu-latest]
        neovim_version: ["v0.7.2", "v0.8.3", "v0.9.5", "v0.10.1", "nightly"]
        include:
          - os: windows-latest
            neovim_version: v0.10.1
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: setup neovim
        uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.neovim_version }}

      - name: Run tests
        run: make test
